.post_title{
	overflow: hidden;
}

body{
	font-family: Times New Roman;
    font-weight: 150;
    background: lightgrey;
    margin:0;
    padding: 0;
    text-align: auto;
}

.page_header{
	border-bottom: 1px;
	border-color: lightgray;
	background: white;
	overflow: hidden;
    text-align: auto;
	margin-bottom: 60px;
}

.page_header > div{
	width: 600px;
	margin: auto;
}

.container{
	width: 600px;
	margin:auto;
}

article > header{
	padding:0px 10px;
}

article{
	border: 1px solid lightgrey;
	background: white;
	margin-bottom: 60px;
    text-align: auto;
	border-radius: 3px;
}

.title_container h2{
	font-size: 20px;
}

.post_title > div {
	width: 50%;
	float:left;
}

.date_container{
	text-align: right;
	color: grey;
}

.image_container{
	border-bottom: 1px solid lightgrey;
    border-top: 1px solid lightgrey;
}

.comment_container{
	padding:0px 10px;
}

img{
	max-width: 600px;
    width: 600px;
}

span{
	font-size: 20px;
	font-weight: 400;
}